    <div class="header_dialogs">
        <div class="categories_dialog" style="display:none">
            {% include "ShopManagementBundle:Category:AllCategoriesForHeader.html.twig" %}
        </div>
    </div>