
/app/bootstrap.php.cache
/app/config/parameters.yml
/var/
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
/web/bundles/
/web/css/
/web/js/
/web/uploads/
/web/images/
/web/pp/


# Build System #
################

dist/
build/
bower_components/
node_modules/
*.css.map
.sass-cahce
/nbproject/private/
ubuntu-xenial-16.04-cloudimg-console.log
/.vagrant/

