

#center-context-user-image
{
    
    float: left;
    width:50px;
    height:100%;
}


#center-context-user-name
{
    
    width: auto;
    padding: 0 3px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 14px;
}

#center-context-articles-from
{
    width: auto;
    margin: 10px 0 10px 40px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    background-color: #006233;
    color: white;
    border-radius: 2%;
    padding: 0 5px 0 10px;
}
