<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block myscript %}

        {#
        <script type="text/javascript" id= "mscript" data-url="{{ path('mobile')}}" >
            /* The mobile designis for :
             * 1. device can rotate
             * 2. device width < device height
             * 3. device dith < 500 // not yet implemented in following if
             **/  
            if( ('onorientationchange' in window) || (window.screen.width< window.screen.height)) { 
                var url = document.getElementById('mscript').getAttribute('data-url');
                window.location.replace(url);
            }


        </script>
        #}
        {% endblock %}

        {% block noindex %}{% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
