
.m-i-p-p-u-d
{
    height: 80px + 2px; 
    width: 80px;
    float:left;
    border-bottom: 1px solid rgba(0,98,51,0);
    border-right: 1px solid rgba(0,98,51,0);
    border-left: 1px solid rgba(0,98,51,0);
    
}



