$logoWidth: 156px;
$headerHeight: 60px;
$menuItemWidth: 86px;
$sprite1 :url('../images/spritesheet1.png');
$sprite3 : url('../images/spritesheet3.png');
$vert:#006233;
$rouge: #c1272d;
$black: black;
$gris:#e1e1e1;


.follow_unfollow_of_follower
{
  width: 90px;
  height: 60px;
  float:right;
  padding-top: 14px;
}

.image_of_follower
{
  width: 60px;
  height: 60px;
  float:right;
  border-right: 1px solid rgba(0, 98, 51, 0.2);
  
}

.initial_info_of_follower
{
  font-size: 11px;
  float:right;
}

.username_of_follower
{
    height:15px;
    line-height: 15px;
    font-size: 14px;
    padding-top:10px; 
}
.domain_name_of_follower
{
    font-style: oblique;
    padding-top:12px;
    font-size: 11px;
}

.number_of_articles_of_follower
{
    font-style: oblique;
    font-size: 11px;
}

.username_of_follower, .domain_name_of_follower,.number_of_articles_of_follower
{
    text-align: right;
    padding-right:5px;

}

.my_network_item a.show_shop
{
    width:200px;
    height:100%;
    float:right;
    border-bottom: 1px solid rgba(0, 98, 51, 0.2);
    border-left: 1px solid rgba(0, 98, 51, 0.2);

}
.my_network_item a.show_shop:hover
{
    background-color: $gris;
}

