

#center-context-user-image
{
    
    float: left;
    width:50px;
    height:100%;
}


#center-context-user-name
{
    
    width: auto;
    padding: 0 3px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 14px;
}

#center-context-articles-from
{
    width: auto;
    margin: 10px 0 0 40px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    background-color: #006233;
    color: white;
    border-radius: 2%;
    padding: 0 5px 0 10px;
}
/* Old ones to be managed in the future */


.trigger_follow
{
    width:60px;
    height:33px;
    display: block;
    background: url('../images/spritesheet1.png') no-repeat;
    cursor: pointer;
    margin:0 auto;  
    background-position: 47.214% 0;
    background-size: 1805% 100%;
}


.trigger_follow:hover
{

    background-position: 41.4% 0;
}
.trigger_unfollow
{

    background-position: 35% 0;
    
}

.trigger_unfollow:hover
{

    background-position: 31% 0;
    
}