$sprite1 :url('../images/spritesheet1.png');
$sprite2 : url('../images/spritesheet2.png');
$sprite3 : url('../images/spritesheet3.png');
$vert:#006233;
$rouge: #c1272d;


.post-form
{
    height:100%;
    display: table;
    width:100%;
    
    
}
#item-form-top
{
    height:100%;
    display: table-row;
    table-layout: fixed;
}
#item-form-bottom
{
    height:60px;
    display: table-row;
    
}

#form-title-widget
{
    
    margin: 1%;
    height: 30px;
}
#shop_bundle_managementbundle_posttype_postTitle,
#shop_bundle_managementbundle_posttype_postPrice,
#shop_bundle_managementbundle_posttype_postContent,
#shop_bundle_managementbundle_posttype_postNotes
{
    font-family: Verdana, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#shop_bundle_managementbundle_posttype_postTitle
{
    width:100%;
    height:100%;

}

#form-price-widget
{
    
    margin: 1%;
    height: 30px;
}
#shop_bundle_managementbundle_posttype_postPrice
{
    width:40%;
    height:100%;
    float:left;
}
#price_label
{
    padding: 6px;
    font-size: 14px;
    float:left;
}


#form-content-widget
{
    
    margin: 1%;
    height: 160px;
}
#shop_bundle_managementbundle_posttype_postContent
{
    width:100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%; 
    max-height: 100%; 
 
}
#form-notes-widget
{
    margin: 1%;
}
#shop_bundle_managementbundle_posttype_postNotes
{
    width:100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%; 
    max-height: 100%; 
}
.images
{
    height:14%;
    
}
#add_image_label
{
    color: darkgray;
    font: 12px Arial;
    margin: 25px 0px 0px 0px;
    display: inline;
    width: 110px;
    float: left;
    text-align: center;
}
#add_image
{

    width: 100%;
    margin: 0 5px 5px 5px;
    padding: 2.5px;
    height: 65px;

}

a#add_image_trigger
{
    height: 65px;
    width: 65px;
    background-position: 12.77% 0%;
    background-size:1660% 100%;
    background: url('../images/spritesheet1.png') no-repeat;    
    float: left;
}
#add_image_notice
{
    font-size: 7px;
    line-height: 8px;
    color: red;
    width: 80px;
    float: left;
    margin-left: 4px;
    margin-top: 10px;

}

a#add_image_trigger:hover
{
    background-position:6.385% 0%;
}


a#add_image_trigger:active
{
    background-position:0% 0%;
}

#uploaded_images
{
   border: 1px solid rgb(218, 211, 211);
   margin: 0 5px;
   min-height: 70px;
    
}
.faty
{
    vertical-align: middle;
    width: 62px;
}
.image_cont
{
    float: left;
    font-size: 0px;
    margin-bottom: 10px; 
}

.one_photo
{
    width:70px - 4px;
    height:70px - 4px;
    margin:2px;
}

.image_div 
{
   float:left;
   width:70px - 4px;
   height:70px - 4px;
}

.has-image, .has-text
{
     
}

.has-text
{
    width:70px;
    height:70px;
    
    text-align: center;
}
.error_text
{
    width:70px - 10px;
    height:70px;
    border:1px solid $rouge; 
    font-size:9px;
    color:$rouge;
    margin: 0px 0px 0px 10px;
    padding: 2px;
}

.image_controls
{
  width: 40px;
  height:100%;
  top: -5px;
  right: -54px;
  position: relative;
  z-index: 11;
    
}


/* Product images*/
/* Product images*/


.set_as_main
{
    width: 35px;
    height: 25px;
    display: block;
    background: $sprite1 no-repeat;
    cursor: pointer;
    margin-top: 30px;
    z-index: 11;
    right: 12px;
    position: relative;
    background-position: 80.05% 0;
}

.set_as_main:hover
{
    
    background-position: 77.359% 0;
}
.set_as_main:active
{
    
    background-position:74.359% 0;
}

.main
{
    
   background-position:74.359% 0;
}

.main:hover
{
    
   background-position:74.359% 0;
}
.delete_image_trigger
{

    width:20px;
    height:20px;
    display: block;
    background: url('../images/spritesheet2.png') no-repeat;
    cursor: pointer;
    background-position: 38.205% 0;
    background-size: 1605% 200%;
    
}
.delete_image_trigger:hover
{

 background-position: 24.91% 0;
    
}

.delete_image_trigger:active
{

 background-position: 31.56% 0
    
}



///////////////////////// Form Footer 
#add_item_button,#cancel_item_button,#delete_article_button
{
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
     border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-weight: 700;
    cursor:pointer;
}


#add_item_button {
    color:white;
    background-color:$vert;
    border:none;
    font-family:'Helvetica Neue',Arial,sans-serif;
    font-size:12px;
    height:36px;
    padding:4px 16px;
    float: right;
    margin: 7px 20px 0 0;

}
#add_item_button:hover{
    opacity:0.5;
}

#cancel_item_button {
	color:$rouge;
	border:1px solid grey;
	font-size:12px;
	height:30px;
	padding:4px 16px;
        background-color:white;
        float: right;
        margin: 10px 5px 0 0;
        text-decoration: none;
}

#cancel_item_button:hover{
	font-weight:800;

}
/* Add Image Button Style */

/* The helper span */

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

form#delete_article_trigger_in_edit{

    
}


form#delete_article_trigger_in_edit button{
    color: #c1272d;
    border: 1px solid grey;
    font-size: 12px;
    height: 30px;
    padding: 4px 16px;
    background-color: white;
    float: right;
    margin: 10px 5px 0 0;
    position: relative;
    top: -60px;
    right: 240px;
    
}

#delete_article_button:hover{
    font-weight:800;
}

/* Parent Category style in drop-down categories selectbox */

#select_category_label
{
    height: 14px;
    color: darkgray;
    font: 15px Arial;
    margin: 15px 0px 5px 4px;
    float:left;
}

#shop_bundle_managementbundle_posttype_categories
{
    
    height:32px;
    margin: 1%;
    float: right;
}


#dvloader
{
    
    margin:15px 0 0 15px;
    width: 60px;
    height:60px;
    float:left;
}

#principale
{
    font-size: 9px;
    width: 50px;
    height: 12px;
    top: -6px;
    position: relative;
    color:$vert;
}