$logoWidth: 156px;
$headerHeight: 60px;
$menuItemWidth: 86px;
$sprite1 :url('../images/spritesheet1.png');
$sprite3 : url('../images/spritesheet3.png');
$vert:#006233;
$rouge: #c1272d;
$black: black;
$gris:#e1e1e1;

$vert-opace:rgb(230, 239, 235);

.hide
{
    visibility:hidden;
}

#pagination-navigation
{
    margin: 0 auto;
    height:40px;
    width: 100%;
    background-color: $vert-opace;
    
}

#page-number,#show_previous_page, #show_next_page, #pagination-message
{
    float: right;  
}

#show_previous_page
{
    background: $sprite3 no-repeat;
    cursor: pointer;
    background-position: 100% 0%;
    background-size: 3460% 100%;
    opacity: 0.7;
    width: 20px;
    height: 36px;
    margin: 4px 4px 0 0;
}

#show_previous_page:hover
{
    opacity: 1;
}

#show_previous_page:click
{
    background-position: 75% 0;
}

#show_next_page
{
    background: $sprite3 no-repeat;
    cursor: pointer;
    background-position: 61.309% 0%;
    background-size: 3460% 100%;
    opacity: 0.7;
    width: 20px;
    height: 36px;
    margin: 4px 0 0 4px;
}

#show_next_page:hover
{
    opacity: 1;
}

#show_next_page:click
{
    background-position: 35% 0;
}

#current-page
{ 
    height:36px;
    width: 36px;
}

#total-pages
{
    line-height:40px;
    width:36px;
}

#pagination-message
{
    height:26px;
    margin: 7px;
    width:206px;
    font-size: 11px;
    color:white;
    background-color: $rouge;
    visibility: hidden;
}

#pagination-message-text
{
    float:left;
    width:180px;
    height: 100%;
    line-height: 26px;
    padding-left: 5px;
}

#pagination-message-close
{
    width: 20px;
    float: left;
    border: 1px solid white;
    height: 18px;
    padding-left: 5px;
    margin: 3px;
    cursor:pointer;
}