{% for alphabet, categories in orderedCategories %}

    <b class="alphabet-in-categories">{{ alphabet | upper }}</b>
    {% for category in categories %}
        <a href="javascript:void(0);"
           class="show_category_trigger dialog-category-anchor"
           data-id="{{category['id']}}"
            >
           {{ category['name'] }}
        </a>
    {% endfor %}
{% endfor %}

