<div id="left_context">
    <div id="left-context-articles-from">
        {{ 'left.all_my_inbox.all_my_inbox'| trans}}
    </div>
</div>


<div id="left_content">
    {% include "MembersManagementBundle:Messages:all_my_inbox_items.html.twig" %} 
    
    {% if all_my_messages|length > 0  %}
    <div 
        id="center-content-pagination" class="left-pagination"
        data-current-page="0" 
        data-url="{{path('page_of_all_my_inbox')}}"
        data-total-pages="{{ number_of_pages}}" > 
        
        {% include "MembersManagementBundle:HomePage:pagination.html.twig" %}
     </div>
     {% endif %}
</div>