<select 
        data-url="{{path('mobile_category', { 'categoryId' : 0 , 'page' : 0})}}"
        id="shop_bundle_managementbundle_posttype_categories" 
        name="shop_bundle_managementbundle_posttype[categories][]">
        
            <option value="" 
                selected
            ></option>

        {% for category in orederedCategories %}
            <option value="{{ category[0].id }}"
                {#  {% if form.categories.vars.value is not empty %}
                        {{ form.categories.vars.value[0] == '' and key == 0 ? ' selected ' :(val.value == form.categories.vars.value[0] ? ' selected ' : '') }}
                {% endif %}#}
                >
                {{ (category[0].getName~'.'~category[0].getName) | trans }}
            </option>
        {% endfor %}
        </select>