<form id="search-form" 
      class="searchbar-form" 
      method="post" 
      action="{{path('mobile_site_search')}}"
      >      
	<input type="text" 
               class="search-keyword" 
               name="SearchText"
               tabindex="1" 
               maxlength="140" 
               size="28" 
               >
        <input type="submit" class="search-button" value>
</form>