{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="wrapper">
	<div class="container">
            <div>
                {{ 'resetting.password_already_requested'|trans }}
            </div>
            <div>
                <button id="back_to_login" type="submit">{{ 'resetting.back_to_login'|trans }}</button>
            <div>
        </div>
        
    </div>                  
{% endblock fos_user_content %}
