$logoWidth: 156px;
$headerHeight: 60px;
$menuItemWidth: 86px;
$sprite1 :url('../images/spritesheet1.png');
$sprite3 : url('../images/spritesheet3.png');
$vert:#006233;
$rouge: #c1272d;
$black: black;
$gris:#e1e1e1;


$vert-opace:rgb(230, 239, 235);


a
{
    text-decoration:none;
    color: $black;
    font-family: Verdana, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.center-horizontally
{
    text-align: center;
}

.tall-profile-image
{
    height: 100%;
}

#header
{
    font-size: 70%;
    line-height: 1.3;
    height: $headerHeight+ 10px;
    background-color: $vert-opace;
    padding-top: 5px;
    
}

.left_navigation a, .right_navigation a, .my_settings a
{
    text-decoration:none;
    color: $vert;
    font-family: Verdana, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}



.left_navigation a:hover, .right_navigation a:hover, .my_settings a:hover, .logout a:hover 
{
    font-weight:bold;
}

.left_navigation a::after, .right_navigation a::after, .my_settings a::after, .logout a::after
{
    display:block;
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    //visibility:hidden;
}
                              
.logout a
{
    text-decoration:none;
    color: $rouge;
    font-family: Verdana, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}


.right_navigation
{
   float: right; 
   height:100%;
   padding-right: 30px;
   width: $menuItemWidth*2.5;
   
    
}

.left_navigation
{
    float: left;
    height:100%; 
    
}

.website_logo
{   width: $logoWidth;
    float:left;
    height:$headerHeight;

}
.website_logo a
{
    margin: 0 auto;
    width: $logoWidth;
    height: $headerHeight;
    display:block;
    background: $sprite3 no-repeat;
    background-position: 35% 0;
    background-size: 635.68% 100%;
}
.website_logo a:hover
{
    opacity: 0.7;
}

.my_inbox
{
     float:left;
     width: $menuItemWidth;
     height:$headerHeight;
     padding-top:26px;
     text-align: center;
     margin-left: 10px;
}
.inbox_item:hover
{
    background-color: $gris;
    
}

.my_inbox a
{

}

/* 
My Market item in Meu 
And My Market Dialog */

.my_market
{
     float:left;
     width: $menuItemWidth;
     height:$headerHeight;
     padding-top:26px;
     text-align: center;
     
}
.my_market_item
{
    width: 330px;
    height:50px;
}
.my_market_item:hover
{
    background-color: $gris;
    
}
.my_market_dialog
{
    width: 350px;
    left: $logoWidth + $menuItemWidth;
    
    
}


/* Common styles */
#all_my_market, #all_my_inbox, #all_my_network
{
    line-height: 50px;
    padding-left:10px;
}

#no-items-my_inbox, #no-items-my_market
{
    line-height: 50px;
    padding-left:10px;
    color: $rouge;
    font-size: 11px;
    width: 330px;
    height:50px;
}

#no-items-my_network
{
    line-height: 50px;
    padding-left:10px;
    color: $rouge;
    font-size: 11px;
    width: 260px;
    height:50px;
    
}

/* End of my  My Market Dialog styles*/




.my_shop_and_new_article
{
    float:left;
    width: $menuItemWidth * 1.5;
    height:$headerHeight;
    padding-top:18px;
    text-align: center;
}
.my_shop_and_new_article a
{

}

.my_search
{
    float:left;
    width: $menuItemWidth * 6;
    height:$headerHeight;
    //display:none;
}
.searchbar-form
{
   padding-top: $headerHeight/6; 
   //height: 100%;
   float:right;
}


.searchbar-form .search-keyword {
    position: relative;
    display: block;
    padding: 11px 10px 11px 0;
    line-height: 18px;
    font-size: 13px;
    border: 0 none;
    font-family: arial;
    float:left;
    height: 40px;
    width: 80%;
}


.searchbar-form .search-button {
    width: $menuItemWidth * 4/7;
    height: 40px;
    background: #c1272d $sprite1 no-repeat -587px 8px;
    border-radius: 0 3px 3px 0;
    float:left;
    background-position: 70.95% 0;
    background-size: 2110% 120%;
}



.superior_right
{
    height: 5* $headerHeight/6;
    
}

.inferior_right
{
    
    height: $headerHeight/6;
    
}
.logout-and-settings
{
    width: $menuItemWidth + 2* $menuItemWidth/7;
    float:right;
    padding:  2*$menuItemWidth/7 2*$menuItemWidth/7 0 0;
    text-align: center;
}
.my_settings
{
    
   text-align: center;
}

.logout
{
    text-align: center;
}

.show_network_trigger
{
    width:60px;
    height:33px;
    display: block;
    background: $sprite3 no-repeat;
    cursor: pointer;
    background-position: 66.257% 0;
    background-size: 1730% 181.81%;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    
}
.show_network_trigger:hover
{
    opacity: 0.7;  
}

.my_followers
{
    width: 60px;
    float:left;
    padding-top: 10px;
}

.profile_image
{
    width: $headerHeight * 5/6;
    float:left;
    //padding-left: $headerHeight/10;
    cursor: pointer;
    background: rgba(220,220,220,0.1);
    border: 1px solid rgba(164,164,164,0.3);
    height:100%;  
}
.profile-image a
{
    height:100%;
}
    
.fat-profile-image
{
    vertical-align:middle;
    width: 90%;
    padding-right: 3px;
}

.inbox_dialog, .network_dialog, .my_market_dialog
{
    top: $headerHeight + 10px;
    
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 390px;
    max-height: 390px;  
    
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    color: #3d3d3d;
    font-size: 12px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    z-index: 999;
    position: absolute;
    text-align: left;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

}


/* Inbox Dialog Styles */

.inbox_dialog
{
    width: 430px;
    left: $logoWidth;
 
}

.inbox_dialog .inbox_item
{
   width: 410px;
   height:50px;
    
}

.m-s-p-p-u-d
{
    width:50px;
    height:50px;
    float:left;
}

.m-s-u
{
    width: auto;
    padding: 0 3px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 12px;
    max-width: 120px;
    min-width: 120px;
}


.m-about
{
    width: 30px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 8px;
    padding: 0 2px;
    
    
}
.m-s-d
{
    width: 50px;
    height: 50px;
    float: left;
    font-size: 10px;
    line-height: 50px;
    padding: 0 2px;
}

.m-s-d-up
{
    height:25px;
    line-height: 25px;
    text-align: center;
    margin-top: 8px;
}
.m-s-d-down
{
    height:25px;
    text-align: center;
    margin-top: -25px;
}


.m-p-m-i-u-d
{
    width:50px;
    height:50px;
    float:left;
    
}

.m-n
{
    width: auto;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 12px;
    text-align: center;
    padding: 0 2px;
    max-width: 28px;
    min-width: 28px;
    
    
}
.m-from
{
    width: 70px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 8px;
    padding: 0 3px;
}
.m-at
{
    width: 12px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 8px;
    padding: 0 3px;

}

/* Network dialog styles*/


.network_dialog
{
    width: 260px;
    right: $menuItemWidth/2 + 20px;
    
}
.network_dialog .my_network_item
{
   width: 240px;
   height:50px;
    
}

.my_network_item:hover
{
    background-color: $gris;
    
}
.m-is-following
{
    width: 100px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 8px;
    padding: 0 3px;
}
.m-s-u-is-following
{
    width: auto;
    padding: 0 3px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 12px;
    max-width: 90px; 
    
}


#my_inbox_progress, #my_network_progress, #my_market_progress
{
    height: 4px;
    background-color: #e9f6e9;
}

#my_inbox_progress div, #my_market_progress div, #my_network_progress div{
    height: 100%;
    width: 0;
    background-color: $vert;
}

/*
Navigate by categories in Menu styles

*/

.show_categories
{
    float:left;
    width: $menuItemWidth;
    height:$headerHeight;
    padding-top:7px;
    margin-right: 10px;
    text-align: center;
    font-size: 11.5px;
    border-right: 1px solid #bfbfbf;
}

.show_categories_arrow
{
    background-image: url("../images/down-arrow.png");
    background-size: 100%;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;
    
}
