<div id="center-context"></div>

<div id="center-content">
   {% include "MembersManagementBundle:HomePageInitial:HomePagePostsInitial.html.twig" %} 
   <div id="center-content-pagination" class="center-pagination"></div>
</div>