<div id="left_context">
    <div id="center-context-articles-from">
        
    </div>
</div>


<div id="left_content">
    <div id="left-items-container">
    {% for i in 0..50 %}
       <div class="all_my_inbox_item left-item-container"></div>
    {% endfor %}
    </div>

    <div id="center-content-pagination" class="left-pagination"></div>
      
</div>