<div id="pagination-navigation">
    {% if number_of_pages > 0 %}
    <div id="show_next_page" 
       class="{% if number_of_pages == 1 %}hide{% endif %}"
       >
    </div>
    <div id="page-number">
        <input id="current-page" type="text" name="fname" value="1">
        <span id="total-pages">/{{ number_of_pages }}</span>
    </div>
    <div id="show_previous_page" 
        class="hide"
        >
    </div>
    <div id="pagination-message">
        <div id="pagination-message-text">Please enter a valid number!</div>
        <div id="pagination-message-close">x</div>
    </div>
    {% endif %}
</div>
